.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 45px;
}
.headerInfoWrapper {
    display: flex;
    align-items: center;
}
.headerInfoWrapper h3,
p {
    margin: 0;
}
.headerInfoWrapper img {
    height: 40px;
    margin: 0 15px 0 0;
}
.headerInfo p {
    color: #bdbdbd;
}
.headerRight {
    min-width: 250px;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
}
.headerRight span {
    margin-left: 20px;
}
.headerRight img{
    cursor: pointer;
}