.sneakers__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.sneakers {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search {
    display: flex;
    align-items: center;
    border: 1px solid #f3f3f3;
    border-radius: 10px;
    padding: 10px;
}
.search img {
    margin-right: 15px;
}
.search input {
    border: none;
    outline: none;
}